<html>
  <head>
    <title>Teddy CDS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #B2DFDB !important;">
      <div class="container-fluid">
        <%= link_to 'Teddy Car Delivery Service', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <%= link_to 'ABOUT', about_path, class: 'nav-link' %>
            </li>
            <li class="nav-item dropdown">
              <a id="navbarDropDown" class="nav-link dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#">Kudat Division</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropDown">
                <li><%= link_to 'KUDAT', kudat_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'KOTA MARUDU', km_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'PITAS', pitas_path, class: 'dropdown-item' %></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a id="navbarDropDown" class="nav-link dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#">West Coast Division</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropDown">
                <li><%= link_to 'KOTA BELUD', kb_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'PAPAR', papar_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'PENAMPANG', penampang_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'PUTATAN', putatan_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'RANAU', ranau_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'TUARAN', tuaran_path, class: 'dropdown-item' %></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a id="navbarDropDown" class="nav-link dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#">Interior Division</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropDown">
                <li><%= link_to 'BEAUFORT', beaufort_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'KENINGAU', keningau_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'KUALA PENYU', kualapenyu_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'MEMBAKUT', membakut_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'NABAWAN', nabawan_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'SIPITANG', sipitang_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'TAMBUNAN', tambunan_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'TENOM', tenom_path, class: 'dropdown-item' %></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a id="navbarDropDown" class="nav-link dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#">Sandakan Division</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropDown">
                <li><%= link_to 'BELURAN', beluran_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'KINABATANGAN', kinabatangan_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'SANDAKAN', sandakan_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'TELUPID', telupid_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'TONGOD', tongod_path, class: 'dropdown-item' %></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a id="navbarDropDown" class="nav-link dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#">Tawau Division</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropDown">
                <li><%= link_to 'KALABAKAN', kalabakan_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'KUNAK', kunak_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'LAHAD DATU', lahaddatu_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'SEMPORNA', semporna_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'TAWAU', tawau_path, class: 'dropdown-item' %></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a id="navbarDropDown" class="nav-link dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#">Settings</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropDown">
                <li><%= link_to 'Sign In', new_user_session_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'Your Booking', bookings_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete}, class: 'dropdown-item' %></li>
              </ul>
            </li>
          </ul>
        </div>
      </section>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
  <footer class=" text-center text-white mt-auto" style="background-color: #7161EF;">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="#">6stone.com</a>
  </div>
  <!-- Copyright -->
</footer>
</html>
